<!DOCTYPE html>
<html ng-app="junkstation" >
	<head>
		<% include template/meta %>
		<title>Junk Station a Vitrine do seu clássico</title>
		<link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
		<% include template/css %>
	</head>

	<body >
		<% include template/header %>
		
		<div class="container_12 clearfix content" id="add_new_item_info">
			<% include template/vertical_menu_admin %>
			
			<div class="grid_9 bigger_margin">
				<%- request.flash("assinatura") %>
				<% 
					var plano = null ;
					
					if(!request.user.plano){
						plano = "";
					}else if(request.user.plano && request.user.plano._id){
						plano = request.user.plano._id.toString();
					}else{
						plano = request.user.plano.toString();
					}

					var assinatura        = request.user.assinatura;
					var disabled          = "";
					var hasAssinatura     = false;
					var diasRestantes     = 0 ;
					var vencido           = (assinatura && assinatura.vencido) ? true : false;
					var assinaturaVigente = assinatura;
					
					if(assinatura && !assinatura.vencido){
						disabled      = "disabled='disabled'";
						hasAssinatura = true;
						var now       = util.moment();
						var end       = util.moment(assinatura.fim_vigencia); 
						var duration  = util.moment.duration(end.diff(now));
						diasRestantes = duration.days();
					}

					var nomePlano = 'Você ainda não possuí uma assinatura ativa';
					if(assinaturaVigente){
						nomePlano = assinaturaVigente.plano.titulo + ' - ' + Utils.numeral(assinaturaVigente.plano.preco).format("0,0.00");
						assinaturaVigente = assinaturaVigente._id.toString();
					}
				%>
				
				<div class="box clearfix">
					<h3>Nossos Planos</h3>
					<div class="box-content clearfix bordered_under">
						<div class="grid_8 left">
							<h4>Escolha o plano ideal para você!</h4>							
						</div>
						
						<div class="grid_8 left">
							<p>
								<label for="plano" class="dropdown_label">Meu Plano</label>
								<input type="text" name="plano" value="<%- nomePlano %>" readonly />
								<!--<select  name="plano" id="plano" class="customSelect full" value="<%- plano %>" <%- disabled %> >
									<option value="" >Selecione</option>
									<% params.planos.forEach(function(item){ %>
										<option value="<%- item._id %>" <%- plano === item._id.toString() ? 'selected' : '' %> >
											<%- item.titulo %> - <%- Utils.numeral(item.preco).format("0,0.00") %> 
										</option>
									<% }); %>
								</select>-->
							</p>
							<p>

								<% if(assinatura && (assinatura.status === 5 || assinatura.status === 6 || assinatura.status === 7 ||
										assinatura.status === 8 || assinatura.status === 9)) { %>
									<div class="alert-info" >
										Sua assinatura encontra-se no status (<%- params.pagseguroUtil.getStatus(assinatura.status)[0].nome %>) para continuar a utilizando as vantangens de nossos anunciantes é necessário fazer uma nova assinatura. 
										<a href="/anuncio/meusdados"> Clique aqui </a>  para renovar a sua assinatura.
									</div>
								<% }%>

								<% if(hasAssinatura && diasRestantes <= 7) {%>
									<div class="alert-info">
										Restam <%- diasRestantes %> dias para sua assinatura acabar. Para realizar um upgrade do seu plano
										<a href="#">clique aqui</a> , lembre-se que Junkstation não reembolso o valor da plano anterior, e 
										o plano atual vai ser cancelado.
									</div>
								<% }%>

								<% if(vencido) {%>
									<div class="alert-error">
										Infelizmente sua assintura venceu :( , pra continuar anunciando é necessário renovar a sua assinatura.
									</div>
								<% }%>
							</p>								
						</div>

					</div>
				</div>

				<div class="box clearfix">
					<h3>Minhas Assinaturas</h3>
					<div class="box-content clearfix bordered_under">
						<div class="grid_8 left">
							<h4>Lista de Assinaturas </h4>							
						</div>

						<div class="grid_8 left">							
							<p></p>
						</div>

						<% if(params.assinaturas.length === 0) {%>
							<div class="grid_8 left">							
								<p> 
									OPS :( , você não possuí nenhuma assinatura. Não perca tempo faça a sua assinatura e venha fazer 
									parte da família Junk Station. <a href="/anuncio/meusdados"> Clique aqui para assinar</a> . 
								</p>
							</div>
						<%} else {%>
							<table class="table table-responsive table-condesed table-striped table-bordered table-hover">
								<thead>
									<tr>
										<th>Plano</th>
										<th>Valor</th>
										<th>Ini Vigência</th>
										<th>Fim Vigência</th>
										<th>Status</th>
										<th></th>
									</tr>	
								</thead>
								
								<tbody>
									<% 
										var assinaturaClass = '';
										params.assinaturas.forEach(function(item){
											var status = item.status; 
											if(item._id.toString() == assinaturaVigente){
												assinaturaClass = 'success';
											}else{
												assinaturaClass = '';
											}	
											
									%>
										<tr class="<%- assinaturaClass %>">
											<td><%- item.nome_plano %></td>
											<td><%- Utils.numeral(item.valor_pago).format("0,0.00") %></td>
											<td><%- util.moment(item.inicio_vigencia).format('L') %></td>
											<td><%- util.moment(item.fim_vigencia).format('L') %></td>
											<td><%- params.pagseguroUtil.getStatus(status)[0].nome %></td>
											<td align="left">
												<button type="button" class="btn btn-primary btn-xs btn-detalhar" id="<%-item._id %>" >Detalhar</button>
												
												<% if(status == 1) {%>
													<button type="button" class="btn btn-success btn-xs btn-pagar" id="<%-item.url_pagamento %>" >Pagar</button>
												<% } %>

												<% if(status == 3 || status == 4 || status == 1) {%>
													<button type="button" class="btn btn-danger btn-xs btn-cancelar" id="<%-item._id %>" >Cancelar</button>
												<% } %>

												<% if(status == 20 || item.vencido) {%>
													<button type="button" class="btn btn-info btn-xs btn-renovar" >Renovar</button>
												<% } %>
											</td>
										</tr>
									<% });%>
								</tbody>
							</table>
						<%}%>					
					</div>

					<div id="ajaxContent"></div>
				</div>					
			</div>	
		</div>

		<!-- INICIO DO FOOTER-->
		<% include template/footer %>
		<!-- FIM DO FOOTER-->
		<script type="text/javascript">
			$(document).ready(function(){
				$(".btn-detalhar").click(function(){
					var id  = $(this).attr("id");
					var url = "/assinatura/detalhe/" + id; 
					var request =  {
						url     : url   ,
						params  : {}    ,
						method  : "get" ,
						callback : function(response, textStatus, jqXHR){
							$("#ajaxContent").html(response);
						}
					};

					ajaxRequest(request , true);
				});


				$(".btn-cancelar").click(function(){
					var id       = $(this).attr("id");
					var url      = "/assinatura/cancelar/" + id;
					var mensagem = "Tem certeza que quer cancelar a sua assinatura, lembre-se que Junk Station não reembolsa " +
					               "o valor dos dias restantes até o final de sua assinatura. Tem certeza que quer realizar o " +
					               "cancelamento ? "; 
					$.confirm({
							post : true 						,
							text : mensagem 					, 
							title: "Cancelamento de Assinatura"	,
							confirm : function(){
								window.location.href = url;
							},
							cancel : function(){
								return false;
							}
						});
				});

				$(".btn-pagar").click(function(){
					var url      =  $(this).attr("id");
					var mensagem = "Você será redirecionado para a página de pagamento da operadora de cobrança. Deseja realizar o pagamento ?";	
					$.confirm({
							post : true 						,
							text : mensagem 					, 
							title: "Pagamento de Assinatura"	,
							confirm : function(){
								window.location.href = url;
							},
							cancel : function(){
								return false;
							}
						});
				});

				$(".btn-renovar").click(function(){
					window.location.href = "/anuncio/meusdados";
				});

			});

			

		</script>
	</body>
</html>

