<!DOCTYPE html>
<html>
	<head>
		<% include template/meta %>
		<title>Junk Station a Vitrine do seu clássico</title>
		<link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
		<% include template/css %>
	</head>

	<body >
		<% include template/header %>
		<div class="container_12 clearfix" id="add_new_item_info">
			<% include template/vertical_menu_admin %>
			<% 
				var assinatura = request.user.assinatura;
				
				var assinaturas = request.user.assinaturas.filter(function(item){
        			return (item.status == 3 || item.status == 4);
    			});

    			console.log(assinaturas.length);

				
				if(assinatura == null || assinatura.qtdAnuncio == assinatura.plano.qtdAnuncios){
        			assinatura = assinaturas[0];
        			request.user.assinatura = assinatura;
				}

				var plano        = assinatura.plano;
				var qtdAnuncios  = assinatura.qtdAnuncio;
				var qtdMax       = plano.qtdAnuncios;
				var diferenca    = qtdMax - qtdAnuncios;
				var nomePlano    = plano.titulo;
				var precoPlano   = plano.preco == 0 ?  "Grátis" : "R$ " + Utils.numeral(plano.preco).format("0,0.00");
				var fim_vigencia = util.moment(assinatura.fim_vigencia); 

				console.log(assinatura._id);
				
				var hasLimit = (qtdAnuncios >= qtdMax);

				var display = 'display : none;'
				if(assinaturas.length > 1 || request.user.dadosPessoais.tipopessoa === 'PJ'){
					display = 'display : visible;'
				}

				

				var link = '/planos';
				if(request.user.dadosPessoais.tipopessoa === 'PJ'){
					link = "/assinatura/listar";
				}
			%>

			<div class="grid_9 bigger_margin">
				<form action="https://<%- request.hostname%>/anuncio/create" method="post" enctype="multipart/form-data" id="anuncioForm">
					<input type="hidden" name="user" value="<%- request.user._id %>" />
					<input type="hidden" name="plano" value="<%- plano._id %>" />
					<input type="hidden" name="relevancia" value="<%- plano.relevancia %>" />
					
					<%- request.flash("cadastro") %>

					<% if(hasLimit) {%>
						<div class="alert-error">OPS : Infelizmente você já atingiu a quantidade máxima de anúncios para essa assinatura. Se quiser continuar anunciando escolha uma outra assinatura ou <a href="<%- link %>" class="btn btn-success btn-xs"><b><i>clique aqui</i></b></a> para fazer uma nova assinatura! </div>
					<% } %>


					
					<div class="box clearfix" style=" <%-display%> ">
						<h3>Minhas Assinaturas</h3>
						<div class="box-content clearfix bordered_under">
							<div class="grid_8 left">
								<p>
									<label for="assinatura" class="dropdown_label">Escolha uma de suas assinaturas :</label>
									<select  name="assinatura" id="assinatura" class="customSelect full" value="<%- assinatura._id %>"  >
										<option value="0" >Selecione</option>
										<% assinaturas.forEach(function(item){ %>
											<option value="<%- item._id %>" <%- assinatura._id.toString() === item._id.toString() ? 'selected' : '' %> >
												<%- item.nome_assinatura  +' - '+ item.plano.titulo %> - <%- Utils.numeral(item.plano.preco).format("0,0.00")  + ' - ' + item.qtdAnuncio + '/' + item.plano.qtdAnuncios + ' anúncios para essa assinatura'%> 
											</option>
										<% }); %>
									</select>
								</p>
							</div>
						</div>
					</div>
					
					<div class="box clearfix">
						<h3>Informações do Anunciante </h3>
						<div class="box-content clearfix bordered_under">
							<div class="grid_8 left">
								<p>
									<label for="anunciante" class="dropdown_label">Nome do Anunciante</label>
									<input type="text" readonly="readonly" name="anunciante" id="anunciante" value="<%- request.user.dadosPessoais.nome %>" >
								</p>
							</div>
 
							<div class="grid_4 left">
								<p>
									<label for="anunciante" class="dropdown_label">Plano Contratado</label>
									<input type="text" name="nomePlano" readonly="readonly" value="<%- nomePlano +' - '+precoPlano %>" />
								</p>
							</div>

							<div class="grid_4 left">
								<p>
									<label for="localizacao" class="dropdown_label">Cidade</label>
									<input type="text" readonly="readonly" name="localizacao" id="localizacao" value="<%- request.user.dadosPessoais.cidade %>" >
								</p>
							</div>

							<div class="grid_4 left">
								<p>
									<label for="provider" class="dropdown_label">Estado</label>
									<input type="text" readonly="readonly" name="estado" value="<%- request.user.dadosPessoais.estado %>" >
								</p>
							</div>

							<div class="grid_4 left">
								<p>
									<label for="dataAnuncio" class="dropdown_label">Dt. Anúncio </label>
									<input type="text" id="dataAnuncio"readonly="readonly" name="data_anuncio" value="<%- util.moment().format('L') %>" >
								</p>
							</div>
							
							<div class="grid_4 left">
								<p>
									<label for="vencimento" class="dropdown_label">Vencimento</label>
									<input type="text" readonly="readonly" id="vencimento" name="data_vencimento" value="<%- fim_vigencia.format('L') %>" >
								</p>								
							</div>
							
							<br/>

							<div class="grid_8 left big_margin">
								<p>
									<label for="condition_new" class="custom_radio radio_on">
										<input type="radio" name="status" id="condition_new" value="true" selected="selected" >Ativo
									</label>
									<label for="condition_used" class="custom_radio">
										<input type="radio" name="status" id="condition_used" value="false">Inativo
									</label>
								</p>								
							</div>
						</div>
					</div>
					
					<div class="box clearfix">
						<h3>Informações do Anúncio </h3>
						<div class="box-content clearfix">
							<div class="grid_4 left">									
								<p>
									<label for="categoria" class="dropdown_label">Categoria <span class="required">*</span></label>
									<select name="categoria" id="categoria" class="customSelect full" value="" >
										<option value="">Selecione</option>
									</select>
								</p>
							</div>
							
							<div class="grid_4 left">									
								<p>
									<label for="marca" class="dropdown_label">Marca <span class="required">*</span></label>
									<select name="marca" id="marca" class="customSelect full" value="" >
										<option value="">Selecione</option>
									</select>
								</p>
							</div>

							<div class="grid_4 left">									
								<p>
									<label for="modelo" class="dropdown_label">Modelo <span class="required">*</span></label>
									<select name="modelo" id="modelo" class="customSelect full" value="" >
										<option value="">Selecione</option>
									</select>
								</p>
							</div>

							<div class="grid_4 left">									
								<p>
									<label for="preco" class="dropdown_label">Preço <span class="required">*</span></label>
									<input type="text" id="preco" name="preco"  value=""  />
								</p>
							</div>

							<div class="grid_4 left">									
								<p>
									<label for="anoFabricacao" class="dropdown_label">Ano <span class="required">*</span></label>
									<select name="ano" id="anoFabricacao" class="customSelect full" value="" >
										<option value="">Selecione</option>
									</select>
								</p>
							</div>

							<div class="grid_4 left carro moto all">									
								<p>
									<label for="cor" class="dropdown_label">Cor <span class="required">*</span></label>
									<select name="cor" id="cor" class="customSelect full" value="" >
										<option value="">Selecione</option>
									</select>
								</p>
							</div>

							<div class="grid_4 left carro all">									
								<p>
									<label for="portas" class="dropdown_label">Portas <span class="required">*</span></label>
									<select name="numero_portas" id="portas" class="customSelect full" value="" >
										<option value="">Selecione</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
									</select>
								</p>
							</div>

							<div class="grid_4 left carro all">									
								<p>
									<label for="combustivel" class="dropdown_label">Combustível <span class="required">*</span></label>
									<select name="combustivel" id="combustivel" class="customSelect full" value="" >
										<option value="">Selecione</option>
									</select>
								</p>
							</div>

							<div class="grid_4 left carro all">									
								<p>
									<label for="estilo" class="dropdown_label">Estilo <span class="required">*</span></label>
									<select name="estilo" id="estilo" class="customSelect full" value="" >
										<option value="">Selecione</option>
									</select>
								</p>
							</div>

							<div class="grid_4 left carro all">									
								<p>
									<label for="cambio" class="dropdown_label">Câmbio <span class="required">*</span></label>
									<select name="cambio" id="cambio" class="customSelect full" value="" >
										<option value="">Selecione</option>
									</select>
								</p>
							</div>

							<div class="grid_4 left carro all">									
								<p>
									<label for="motor" class="dropdown_label">Motor </label>
									<input type="text" id="motor" name="motor"  value="" maxlength="10" />
								</p>
							</div>

							<div class="grid_4 left carro caminhao all">									
								<p>
									<label for="kilometragem" class="dropdown_label">KM <span class="required">*</span></label>
									<input type="text" id="kilometragem" name="kilometragem"  value="" />
								</p>
							</div>

							<div class="grid_4 left carro all">									
								<p>
									<label for="renavam" class="dropdown_label">Renavam </label>
									<input type="text" id="renavam" name="renavam"  value="" maxlength="11" />
								</p>
							</div>

							<div class="grid_4 left carro caminhao all">									
								<p>
									<label for="placa" class="dropdown_label">Placa </label>
									<input type="text" id="placa" name="placa"  value="" maxlength="7" />
								</p>
							</div>
						</div>
					</div>

					<div class="box clearfix">
						<h3>Descrição do Anúncio</h3>
						<div class="box-content">

							<div class="grid_8 left">									
								<p>
									<label for="titulo" class="dropdown_label">Título<span class="required">*</span></label>
									<input type="text" id="titulo" name="titulo_anuncio"  value="" />
								</p>
							</div>

							<div class="grid_8 left">	
								<p>
									<label for="descricao" class="dropdown_label">Descrição <span class="required">*</span></label>
									<textarea name="descricao_anuncio" id="descricao" maxlength="800"></textarea>
								</p>
							</div>
							
						</div>
					</div>
					
					<div class="box clearfix">
						<h3>Foto Principal</h3>
						<div class="box-content">
							<div class="grid_8 list_item">
								<div class="half left">
									<div class="overlayed" >
										<img src="/dist/images/no-image.png" alt="">
									</div>
									<input type="file" name="fotos" />
								</div>
								<div class="half right">
									<div class="item_heading">
										<h4> <span class="marcaTXT">-</span> <a href="#" class="modeloTXT"> - </a></h4>
										<p class="location">
											<%- request.user.dadosPessoais.cidade %>, <strong><%- request.user.dadosPessoais.estado %></strong>
											<span class="vendor"></span>
										</p>
									</div>
									<div class="item_info clearfix">
										<p class="half left">
											<span class="item_year" alt="Ano de Fabricação">-</span>
											<span class="item_type" alt="Tipo de Veículo">-</span>
											<span class="item_drive" alt="Motor">-</span>
										</p>
										<p class="half right">
											<span class="item_transimition">-</span>
											<span class="item_fuel">-</span>
											<span class="item_mileage">-</span>
										</p>
									</div>
									<div class="item_footer">
										<span class="item_price">R$ 0,00</span>
										<span class="item_date"><%- util.moment().format("LL")%></span>
										<!--<span class="item_rating">4.9</span>-->
									</div>
								</div>
							</div>
							
						</div>
					</div>
					
					<% if(plano.qtdFotos > 1) {%>
						<div class="box clearfix">
							<h3>Demais Fotos</h3>
							<div class="box-content">
								<% for(var i = 1 ; i < plano.qtdFotos; i++) {%>
									<div class="grid_8 list_item">
										<div class="half left">
											<div class="overlayed" >
												<img src="/dist/images/no-image.png" alt="">
											</div>
											<input type="file" name="fotos" />
										</div>
										<div class="half right">
											<div class="item_heading">
												<h4> <span class="marcaTXT">-</span> <a href="#" class="modeloTXT"> - </a></h4>
												<p class="location">
													<%- request.user.dadosPessoais.cidade %>, <strong><%- request.user.dadosPessoais.estado %></strong>
													<span class="vendor"></span>
												</p>
											</div>
											<div class="item_info clearfix">
												<p class="half left">
													<span class="item_year" alt="Ano de Fabricação">-</span>
													<span class="item_type" alt="Tipo de Veículo">-</span>
													<span class="item_drive" alt="Motor">-</span>
												</p>
												<p class="half right">
													<span class="item_transimition">-</span>
													<span class="item_fuel">-</span>
													<span class="item_mileage">-</span>
												</p>
											</div>
											<div class="item_footer">
												<span class="item_price">R$ 0,00</span>
												<span class="item_date"><%- util.moment().format("LL")%></span>
												<!--<span class="item_rating">4.9</span>-->
											</div>
										</div>
									</div>
								<% } %>
							</div>
						</div>
					<% } %>

					<% if(plano.qtdVideos >= 1) {%>
						<div class="box clearfix">
							<h3>Coloque aqui o video do seu clássico</h3>

							<div class="box-content">
								<div class="grid_8 left">
									<p style="text-align: justify;">Os videos do <a href="www.youtube.com">www.youtube.com</a> e <a href="www.vimeo.com">www.vimeo.com</a> podem ser incorporados na visualização dos seus anúncios, clique no video que deseja incorporar e cole a URL abaixo é simples rápido e você aumenta as chances de venda dos seu clássico. <i> <b> Lembre-se que os videos não poderam ser editados novamente então certifique-se que a URL fornecida está correta.</b></i></p>
								</div>

								<hr>
								
								<% for(var i = 0 ; i < plano.qtdVideos; i++) {%>
									<div class="grid_8 left">									
										<p>
											<label for="videos_<%- i + 1%>" class="dropdown_label">Video <%- i + 1%></label>
											<input type="text" id="videos_<%- i + 1%>" name="videos"  value="" placeholder="Exemplo : https://www.youtube.com/watch?v=eqzhXKrKqSM" />
										</p>
									</div>
								<% } %>
							</div>
						</div>
					<% } %>
					
					<% if(!hasLimit) {%>
						<a class="button submit wide green">Publicar Anúncio</a>
					<% } %>
				</form>
				<br />
				
			</div>
		</div>
		
		<!-- INICIO DO FOOTER-->
		<% include template/footer %>
		<!-- FIM DO FOOTER-->

		<script type="text/javascript">
			$(document).ready(function(){
				
				init();

				$("#assinatura").change(function(){
					var assinatura = $(this).val();
					if(assinatura != "0"){
						window.location.href = "/anuncio/create?assinatura="+assinatura
					}
				});

				var categoriaCallback = function(response, textStatus, jqXHR){
					var marcas = response.data;
					$('#marca option').remove();
					$('#marca option').remove();
					
					$('#marca').append($('<option>', {
						    value : "0" ,
						    text  : ""  ,
						    selected : "selected"
					})).change(); 

					$('#modelo').append($('<option>', {
						    value : "0" ,
						    text  : ""  ,
						    selected : "selected"
					})).change();

					marcas.forEach(function(item){
						$('#marca').append($('<option>', {
						    value : item._id ,
						    text  : item.nome
						}));
					});
				};

				$("#categoria").change(function(){
					if($(this).val() !== "0"){
						listMarcaByCategoria($(this).val(), categoriaCallback, {}, true);
						var value = $(this).find("option:selected").text();
						console.log(value);
						clearAtributos();
						showCarros(value);
						showBicicletas(value);
						showMotos(value);
						showCaminhoes(value);
						showPecas(value);

					}
				});
				
				$("#marca").change(function(){
					var marcaCallback = function(response, textStatus, jqXHR){
						var modelos = response.data;
						
						$('#modelo option').remove();
						
						$('#modelo').append($('<option>', {
							    value : "" ,
							    text  : "Selecione"  ,
							    selected : "selected"
						})).change();

						modelos.forEach(function(item){
							$('#modelo').append($('<option>', {
							    value : item.nome ,
							    text  : item.nome
							}));
						});
					};

					if($(this).val() !== "0"){
						$(".marcaTXT").html($(this).find("option:selected").text());
						listModeloByMarca($(this).val(), marcaCallback, {}, true);
					}else{
						$(".marcaTXT").html("-");
					}
				});

				$('#modelo').change(function(){
					if(this.value !== ""){
						$(".modeloTXT").html(this.value);
					}else{
						$(".modeloTXT").html("-");
					}
				});

				$('#anoFabricacao').change(function(){
					if(this.value !== ""){
						$(".item_year").html(this.value);
					}else{
						$(".item_year").html("-");
					}
				});

				$('#estilo').change(function(){
					if(this.value !== ""){
						$(".item_type").html(this.value);
					}else{
						$(".item_type").html("-");
					}
				});

				$('#cambio').change(function(){
					if(this.value !== ""){
						$(".item_transimition").html(this.value);
					}else{
						$(".item_transimition").html("-");
					}
				});

				$('#combustivel').change(function(){
					if(this.value !== ""){
						$(".item_fuel").html(this.value);
					}else{
						$(".item_fuel").html("-");
					}
				});

				$('#kilometragem').blur(function(){
					if(!isBlankOrEmpty(this.value)){
						$(".item_mileage").html(this.value + " KM");
					}else{
						$(".item_mileage").html("-");
					}
				}).maskMoney({
					prefix      	: ""    ,
					suffix      	: ""    ,
					affixesStay 	: false ,
					thousands   	: "."   ,
					decimal     	: ""    ,
					precision   	: 0     ,
					allowZero   	: false ,
					allowNegative 	: false
				});

				$('#preco').blur(function(){
					if(!isBlankOrEmpty(this.value)){
						$(".item_price").html("R$ " + this.value);
					}else{
						$(".item_price").html("R$ 0,00");
					}
				}).maskMoney({
					prefix      	: ""    ,
					suffix      	: ""    ,
					affixesStay 	: false ,
					thousands   	: "."   ,
					decimal     	: ","   ,
					precision   	: 2     ,
					allowZero   	: false ,
					allowNegative 	: false
				});

				$('#motor').blur(function(){
					if(!isBlankOrEmpty(this.value)){
						$(".item_drive").html(this.value);
					}else{
						$(".item_drive").html("-");
					}
				});

				$('#placa').mask("aaa9999");
				$('#renavam').maskMoney({
					prefix      	: ""    ,
					suffix      	: ""    ,
					affixesStay 	: false ,
					thousands   	: ""   ,
					decimal     	: ""   ,
					precision   	: 0     ,
					allowZero   	: false ,
					allowNegative 	: false
				});

				$("#anuncioForm").validate({ 
					submitHandler : function(form){
						var categoria = $("#categoria").find("option:selected").text();
						var marca     = $("#marca").find("option:selected").text();

						$("#categoria option:selected").val(categoria)
						$("#marca option:selected").val(marca);

						var mensagem = "Antes de confirmar a inclusão do anúncio, "+ 
						               "verifique se os dados foram preenchido corretamente, pois não será possível a edição de alguns dados. Tem certeza que deseja salvar os dados ?"

						$.confirm({
							post : true,
							text : mensagem , 
							title: "Novo Anúncio",
							confirm : function(){
								form.submit();
								return false;
							},
							cancel : function(){
								return false;
							}
						});
					},

					rules    : {
						status    : "required" ,
						categoria : "required" ,
						marca     : "required" ,
						modelo    : "required" ,
						preco     : "required" ,
						ano       : "required" ,
						cor       : {
							required : {
								depends : function(element){
									var value    = $("#categoria").find("option:selected").text()
									var carro    = new RegExp(/carro/gi);
									var moto     = new RegExp(/moto/gi);
									var test     = (carro.test(value) || moto.test(value));
									return test;
								}	
							}
						},
						numero_portas : {
							required : {
								depends : function(element){
									var value    = $("#categoria").find("option:selected").text()
									var carro    = new RegExp(/carro/gi);
									var test     = carro.test(value);
									return test;
								}	
							}
						},
						combustivel       : {
							required : {
								depends : function(element){
									var value    = $("#categoria").find("option:selected").text()
									var carro    = new RegExp(/carro/gi);
									var test     = carro.test(value);
									return test;
								}	
							}
						},

						cambio       : {
							required : {
								depends : function(element){
									var value    = $("#categoria").find("option:selected").text()
									var carro    = new RegExp(/carro/gi);
									var test     = carro.test(value);
									return test;
								}	
							}
						},

						kilometragem : {
							required : {
								depends : function(element){
									var value    = $("#categoria").find("option:selected").text()
									var carro    = new RegExp(/carro/gi);
									var caminhao = new RegExp(/caminh[ao,oes,ão,ões]/gi);
									var test     = (carro.test(value) || caminhao.test(value));	
									return test;
								}	
							}
						},

						titulo_anuncio    : "required" ,
						descricao_anuncio : "required" ,
						fotos             :{
							accept   : "png,jpe?g,gif" , 
							filesize : 1048576  
						}

					},

			        messages : {
			        	status            : "É necessário informar o status do anúncio." 	,
			        	categoria         : "A categoria é obrigatória." 					,
						marca             : "A marca é obrigatória" 						,
						modelo            : "O modelo é obrigatório" 						,
						preco             : "O preço é obrigatório" 						,
						ano               : "O ano é obrigatório" 							,
						cor               : "A cor do veículo é obrigatório" 				,
						numero_portas     : "O número de portas" 							,
						combustivel       : "O tipo de combustivel é obrigatório" 			,
						cambio            : "O câmbio é obrigatório" 						,
						titulo_anuncio    : "O título do anúncio é obrigatório" 			,
			        	descricao_anuncio : "A descrição do anúncio é obrigatório"			,
			        	fotos             : "Formato inválido, aceitos (PNG,JPEG,JPG ou GIF), até 1MB"
			        } 
				});

				$("#condition_new").click();
				$("#condition_new").parent().addClass('radio_on');

			});

			function showCarros(value){
				var regex = new RegExp(/carro/gi);
				if(regex.test(value)){
					$(".carro").show();
				}
			}

			function showBicicletas(value){
				var regex = new RegExp(/bicicleta/gi);
				if(regex.test(value)){
					$(".bicicleta").show();
				}
			}

			function showCaminhoes(value){
				var regex = new RegExp(/caminh[ao,oes,ão,ões]/gi);
				if(regex.test(value)){
					$(".caminhao").show();
				}
			}

			function showMotos(value){
				var regex = new RegExp(/moto/gi);
				if(regex.test(value)){
					$(".moto").show();
				}
			}

			function showPecas(value){
				var regex = new RegExp(/pe[c,ç]a/gi);
				if(regex.test(value)){
					$(".pecas").show();
				}
			}

			function clearAtributos(){
				$(".all").hide();

				$(".all").find("input").each(function(index){
					$(this).val("");
				});

				$(".all").find("select").each(function(index){
					$(this).val("").find("option[value='']").change();
				});
			}

			function init(){
				$(".all").hide();
				/***********************************************************
			    * Lista todas as categorias ativas                         * 
			    ***********************************************************/
			    var categoriaCallBack = function(response, textStatus, jqXHR){
					var categoria = response.data;
					categoria.forEach(function(item){
						$('#categoria').append($('<option>', {
						    value : item._id ,
						    text  : item.nome
						}));
					});
				};
				listCategoria(categoriaCallBack, {}, false);
				/***********************************************************
			    * Todos os anos de fabricações ativos                      * 
			    ***********************************************************/
			    var anoCallBack = function(response, textStatus, jqXHR){
					var ano = response.data;
					ano.forEach(function(item){
						$('#anoFabricacao').append($('<option>', {
						    value : item.ano ,
						    text  : item.ano
						}));
					});
				};
				listAnoFabricacao(anoCallBack, {}, false);
				/***********************************************************
			    * Lista todos os câmbios ativos                            * 
			    ***********************************************************/
			    var cambioCallBack = function(response, textStatus, jqXHR){
					var cambio = response.data;
					cambio.forEach(function(item){
						$('#cambio').append($('<option>', {
						    value : item.nome ,
						    text  : item.nome
						}));
					});
				};
				listCambio(cambioCallBack, {}, false);
				/***********************************************************
			    * Lista todas as cores ativas                              * 
			    ***********************************************************/
			    var corCallBack = function(response, textStatus, jqXHR){
					var cor = response.data;
					cor.forEach(function(item){
						$('#cor').append($('<option>', {
						    value : item.nome ,
						    text  : item.nome
						}));
					});
				};
				listCor(corCallBack, {}, false);
				/***********************************************************
			    * Lista todas os combustíveies                             * 
			    ***********************************************************/
			    var combustivelCallBack = function(response, textStatus, jqXHR){
					var combustivel = response.data;
					combustivel.forEach(function(item){
						$('#combustivel').append($('<option>', {
						    value : item.nome ,
						    text  : item.nome
						}));
					});
				};
				listCombustivel(combustivelCallBack, {}, false);
				/***********************************************************
			    * Lista todas os estilos ativos                            * 
			    ***********************************************************/
			    var estiloCallBack = function(response, textStatus, jqXHR){
					var estilo = response.data;
					estilo.forEach(function(item){
						$('#estilo').append($('<option>', {
						    value : item.nome ,
						    text  : item.nome
						}));
					});
				};
				listEstilo(estiloCallBack, {}, false);


     			$("input:file").on('change', function () {
			        if (typeof (FileReader) != "undefined") {
			            var image_holder = $(this).parent().find("div.overlayed");
			            image_holder.empty();
			 
			            var reader = new FileReader();
			            
			            reader.onload = function (e) {
			                $("<img />", {
			                    "src": e.target.result,
			                    "class": "thumb-image"
			                }).appendTo(image_holder);
			            }
			            image_holder.show();
			            reader.readAsDataURL($(this)[0].files[0]);
			        } else {
			            alert("O seu navegador não tem suporte a preview de imagens");
			        }
			    });
			};
		</script>
	</body>
</html>

