<!DOCTYPE html>
<html ng-app="junkstation" >
	<head>
		<% include template/meta %>
		<title>Junk Station a Vitrine do seu clássico</title>
		<% include template/css %>
	</head>

	<body >
		<% include template/header %>
		
		<div class="container_12 clearfix" id="add_new_item_info">
			<% include template/vertical_menu_admin %>

			<!--<div class="grid_3">
				<div class="box">
					<h3>Add Fotos</h3>
					<div class="box-content">
						<p class="centered_content">
							<a href="#fotos_form" class="button red modal">Upload photos</a>
						</p>
					</div>
				</div>
				
				<div class="box">
					<h3>Add Videos</h3>
					<div class="box-content">
						<p class="centered_content">
							<a href="#video_form" class="button red modal">Upload video</a>
						</p>
					</div>
				</div>
			</div>-->
 
			<form action="https://<%- request.hostname%>/login">
				<div class="grid_9 bigger_margin">
					<div class="box clearfix">
						<h3>Informações do Anunciante </h3>
						<div class="box-content clearfix bordered_under">
							<div class="grid_8 left">
								<p>
									<label for="anunciante" class="dropdown_label">Nome do Anunciante</label>
									<input type="text" readonly="readonly" name="anunciante" id="anunciante" value="<%- request.user.dadosPessoais.nome %>" >
								</p>
							</div>

							<div class="grid_4 left">
								<p>
									<label for="localizacao" class="dropdown_label">Cidade</label>
									<input type="text" readonly="readonly" name="localizacao" id="localizacao" value="<%- request.user.dadosPessoais.cidade %>" >
								</p>
							</div>

							<div class="grid_4 left">
								<p>
									<label for="provider" class="dropdown_label">Estado</label>
									<input type="text" readonly="readonly" name="provider" value="<%- request.user.dadosPessoais.estado %>" >
								</p>
							</div>

							<div class="grid_4 left">
								<p>
									<label for="provider" class="dropdown_label">Dt. Anúncio </label>
									<input type="text" readonly="readonly" name="provider" value="<%- util.moment().format('L') %>" >
								</p>
							</div>
							
							<div class="grid_4 left">
								<p>
									<label for="emailsocial" class="dropdown_label">Vencimento</label>
									<input type="text" readonly="readonly" name="emailsocial" value="<%- util.moment().add(30, 'days').format('L') %>" >
								</p>								
							</div>
							
							<br/>

							<div class="grid_4 left big_margin">
								<p>
									<label for="condition_new" class="custom_radio">
										<input type="radio" name="condition" id="condition_new" value="new" >Ativo
									</label>
									<label for="condition_used" class="custom_radio">
										<input type="radio" name="condition" id="condition_used" value="used">Inativo
									</label>
								</p>								
							</div>

						</div>
					</div>
					<div class="box clearfix">
						<h3>Informações do Anúncio </h3>
						<div class="box-content clearfix">
							<div class="grid_4 left">									
								<p>
									<label for="preco" class="dropdown_label">Preço <span class="required">*</span></label>
									<input type="text" id="preco" name="preco"  value="" ui-money-mask="2" />
								</p>
							</div>

							<div class="grid_4 left">									
								<p>
									<label for="kilometragem" class="dropdown_label">KM <span class="required">*</span></label>
									<input type="text" id="kilometragem" name="kilometragem"  value="" />
								</p>
							</div>
							
							<div class="grid_3 left">									
								<p>
									<label for="marca" class="dropdown_label">Marca <span class="required">*</span></label>
									<select name="marca" id="marca" class="customSelect full" value="">
										<option value="">Selecione</option>
									</select>
								</p>
							</div>

							<div class="grid_3 left">									
								<p>
									<label for="modelo" class="dropdown_label">Modelo <span class="required">*</span></label>
									<select name="modelo" id="modelo" class="customSelect full" value="">
										<option value="">Selecione</option>
									</select>
								</p>
							</div>

							<div class="grid_2 left">									
								<p>
									<label for="anoFabricacao" class="dropdown_label">Ano <span class="required">*</span></label>
									<select name="anoFabricacao" id="anoFabricacao" class="customSelect full" value="">
										<option value="">Selecione</option>
									</select>
								</p>
							</div>

							<div class="grid_3 left">									
								<p>
									<label for="portas" class="dropdown_label">Portas <span class="required">*</span></label>
									<select name="portas" id="portas" class="customSelect full" value="">
										<option value="">Selecione</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
									</select>
								</p>
							</div>

							<div class="grid_3 left">									
								<p>
									<label for="cambio" class="dropdown_label">Câmbio <span class="required">*</span></label>
									<select name="cambio" id="cambio" class="customSelect full" value="">
										<option value="">Selecione</option>
									</select>
								</p>
							</div>

							<div class="grid_2 left">									
								<p>
									<label for="cor" class="dropdown_label">Cor <span class="required">*</span></label>
									<select name="cor" id="cor" class="customSelect full" value="">
										<option value="">Selecione</option>
									</select>
								</p>
							</div>

							<div class="grid_3 left">									
								<p>
									<label for="categoria" class="dropdown_label">Categoria <span class="required">*</span></label>
									<select name="categoria" id="categoria" class="customSelect full" value="">
										<option value="">Selecione</option>
									</select>
								</p>
							</div>

							<div class="grid_3 left">									
								<p>
									<label for="combustivel" class="dropdown_label">Combustível <span class="required">*</span></label>
									<select name="combustivel" id="combustivel" class="customSelect full" value="">
										<option value="">Selecione</option>
									</select>
								</p>
							</div>

							<div class="grid_2 left">									
								<p>
									<label for="estilo" class="dropdown_label">Estilo <span class="required">*</span></label>
									<select name="estilo" id="estilo" class="customSelect full" value="">
										<option value="">Selecione</option>
									</select>
								</p>
							</div>

							<div class="grid_3 left">									
								<p>
									<label for="motor" class="dropdown_label">Motor <span class="required">*</span></label>
									<input type="text" id="motor" name="motor"  value="" />
								</p>
							</div>

							<div class="grid_3 left">									
								<p>
									<label for="renavam" class="dropdown_label">Renavam <span class="required">*</span></label>
									<input type="text" id="renavam" name="renavam"  value="" maxlength="11" />
								</p>
							</div>

							<div class="grid_2 left">									
								<p>
									<label for="placa" class="dropdown_label">Placa <span class="required">*</span></label>
									<input type="text" id="placa" name="placa"  value="" />
								</p>
							</div>

						</div>
					</div>

					<div class="box clearfix">
						<h3>Descrição do Anúncio</h3>
						<div class="box-content">

							<div class="grid_8 left">									
								<p>
									<label for="titulo" class="dropdown_label">Título<span class="required">*</span></label>
									<input type="text" id="titulo" name="titulo"  value="" />
								</p>
							</div>

							<div class="grid_8 left">	
								<p>
									<label for="descricao" class="dropdown_label">Descrição <span class="required">*</span></label>
									<textarea name="descricao" id="descricao" ></textarea>
								</p>
							</div>
							
						</div>
					</div>

					<div class="box clearfix">
						<h3>Fotos e Vídeos</h3>
						<div class="box-content">
							<div class="grid_8 list_item">
								<div class="half left">
									<div class="overlayed" >
										<img src="/dist/images/sls.jpg" alt="">
									</div>
									<input type="file" name="foto" />
								</div>
								<div class="half right">
									<div class="item_heading">
										<h4> <span class="marcaTXT">-</span> <a href="#" class="modeloTXT"> - </a></h4>
										<p class="location">
											<%- request.user.dadosPessoais.cidade %>, <strong><%- request.user.dadosPessoais.estado %></strong>
											<span class="vendor"><%- request.user.dadosPessoais.nome.substring(0, 10) %></span>
										</p>
									</div>
									<div class="item_info clearfix">
										<p class="half left">
											<span class="item_year" alt="Ano de Fabricação">-</span>
											<span class="item_type" alt="Tipo de Veículo">-</span>
											<span class="item_drive" alt="Motor">-</span>
										</p>
										<p class="half right">
											<span class="item_transimition">-</span>
											<span class="item_fuel">-</span>
											<span class="item_mileage">-</span>
										</p>
									</div>
									<div class="item_footer">
										<span class="item_price">R$ 0,00</span>
										<span class="item_date"><%- util.moment().format("LL")%></span>
										<!--<span class="item_rating">4.9</span>-->
									</div>
								</div>
							</div>
						</div>
					</div>
					

					<a class="button submit wide green">Publicar Anúncio</a>
				</div>
			</form>

			<!-- MODAL PARA UPLOAD DE FOTOS-->
			<div class="login_form_modal_container">
				<div id="fotos_form" class="box">
					<h3>Upload Fotos</h3>
					<div class="box-content clearfix">
						<form name="formFoto" action='/upload/add' method='post' enctype='multipart/form-data' >
		                 	<input type='file'   name='imagem' />
		                 	<a class="button submit red right">Enviar</a>
            			</form>
					</div>
				</div>
			</div>

			<!-- MODAL PARA UPLOAD DE VIDEOS-->
			<div class="login_form_modal_container">
				<div id="video_form" class="box">
					<h3>Upload Video</h3>
					<div class="box-content clearfix">
						<form action="/login" method="post">
							<input type="file" name="foto1" >
							<a class="button submit red right">Enviar</a>
							
						</form>
					</div>
				</div>
			</div>
		</div>
		
		<!-- INICIO DO FOOTER-->
		<% include template/footer %>
		<!-- FIM DO FOOTER-->

		<script type="text/javascript">
			$(document).ready(function(){
				init();

				$("#marca").change(function(){
					var marcaCallback = function(response, textStatus, jqXHR){
						var modelos = response.data;
						
						$('#modelo option').remove();
						
						$('#modelo').append($('<option>', {
							    value : "" ,
							    text  : "Selecione"  ,
							    selected : "selected"
						})).change();

						modelos.forEach(function(item){
							$('#modelo').append($('<option>', {
							    value : item.nome ,
							    text  : item.nome
							}));
						});
					};

					if($(this).val() !== "0"){
						$(".marcaTXT").html($(this).find("option:selected").text());
						listModeloByMarca($(this).val(), marcaCallback, {}, true);
					}else{
						$(".marcaTXT").html("-");
					}
				});

				$('#modelo').change(function(){
					if(this.value !== ""){
						$(".modeloTXT").html(this.value);
					}else{
						$(".modeloTXT").html("-");
					}
				});

				$('#anoFabricacao').change(function(){
					if(this.value !== ""){
						$(".item_year").html(this.value);
					}else{
						$(".item_year").html("-");
					}
				});

				$('#estilo').change(function(){
					if(this.value !== ""){
						$(".item_type").html(this.value);
					}else{
						$(".item_type").html("-");
					}
				});

				$('#cambio').change(function(){
					if(this.value !== ""){
						$(".item_transimition").html(this.value);
					}else{
						$(".item_transimition").html("-");
					}
				});

				$('#combustivel').change(function(){
					if(this.value !== ""){
						$(".item_fuel").html(this.value);
					}else{
						$(".item_fuel").html("-");
					}
				});

				$('#kilometragem').blur(function(){
					if(!isBlankOrEmpty(this.value)){
						$(".item_mileage").html(this.value + " KM");
					}else{
						$(".item_mileage").html("-");
					}
				}).maskMoney({
					prefix      	: ""    ,
					suffix      	: ""    ,
					affixesStay 	: false ,
					thousands   	: "."   ,
					decimal     	: ""    ,
					precision   	: 0     ,
					allowZero   	: false ,
					allowNegative 	: false

				});

				$('#preco').blur(function(){
					if(!isBlankOrEmpty(this.value)){
						$(".item_price").html("R$ " + this.value);
					}else{
						$(".item_price").html("R$ 0,00");
					}
				}).maskMoney({
					prefix      	: ""    ,
					suffix      	: ""    ,
					affixesStay 	: false ,
					thousands   	: "."   ,
					decimal     	: ","   ,
					precision   	: 2     ,
					allowZero   	: false ,
					allowNegative 	: false

				});

				$('#motor').blur(function(){
					if(!isBlankOrEmpty(this.value)){
						$(".item_drive").html(this.value);
					}else{
						$(".item_drive").html("-");
					}
				});

				$('#placa').mask("aaa9999");
				$('#renavam').maskMoney({
					prefix      	: ""    ,
					suffix      	: ""    ,
					affixesStay 	: false ,
					thousands   	: ""   ,
					decimal     	: ""   ,
					precision   	: 0     ,
					allowZero   	: false ,
					allowNegative 	: false

				});
			});

			function init(){
				/***********************************************************
			    * CARREGA TODAS AS MARCAS ATIVAS E PREENCHE O COMBO MARCAS * 
			    ***********************************************************/
				var marcaCallback = function(response, textStatus, jqXHR){
					var marcas = response.data;
					marcas.forEach(function(item){
						$('#marca').append($('<option>', {
						    value : item._id ,
						    text  : item.nome
						}));
					});
				};
				listMarca(marcaCallback, {}, false);
				/***********************************************************
			    * Todos os anos de fabricações ativos                      * 
			    ***********************************************************/
			    var anoCallBack = function(response, textStatus, jqXHR){
					var ano = response.data;
					ano.forEach(function(item){
						$('#anoFabricacao').append($('<option>', {
						    value : item.ano ,
						    text  : item.ano
						}));
					});
				};
				listAnoFabricacao(anoCallBack, {}, false);
				/***********************************************************
			    * Lista todos os câmbios ativos                            * 
			    ***********************************************************/
			    var cambioCallBack = function(response, textStatus, jqXHR){
					var cambio = response.data;
					cambio.forEach(function(item){
						$('#cambio').append($('<option>', {
						    value : item.nome ,
						    text  : item.nome
						}));
					});
				};
				listCambio(cambioCallBack, {}, false);
				/***********************************************************
			    * Lista todas as cores ativas                              * 
			    ***********************************************************/
			    var corCallBack = function(response, textStatus, jqXHR){
					var cor = response.data;
					cor.forEach(function(item){
						$('#cor').append($('<option>', {
						    value : item.nome ,
						    text  : item.nome
						}));
					});
				};
				listCor(corCallBack, {}, false);
				/***********************************************************
			    * Lista todas as categorias ativas                         * 
			    ***********************************************************/
			    var categoriaCallBack = function(response, textStatus, jqXHR){
					var categoria = response.data;
					categoria.forEach(function(item){
						$('#categoria').append($('<option>', {
						    value : item.nome ,
						    text  : item.nome
						}));
					});
				};
				listCategoria(categoriaCallBack, {}, false);
				/***********************************************************
			    * Lista todas os combustíveies                             * 
			    ***********************************************************/
			    var combustivelCallBack = function(response, textStatus, jqXHR){
					var combustivel = response.data;
					combustivel.forEach(function(item){
						$('#combustivel').append($('<option>', {
						    value : item.nome ,
						    text  : item.nome
						}));
					});
				};
				listCombustivel(combustivelCallBack, {}, false);
				/***********************************************************
			    * Lista todas os estilos ativos                            * 
			    ***********************************************************/
			    var estiloCallBack = function(response, textStatus, jqXHR){
					var estilo = response.data;
					estilo.forEach(function(item){
						$('#estilo').append($('<option>', {
						    value : item.nome ,
						    text  : item.nome
						}));
					});
				};
				listEstilo(estiloCallBack, {}, false);


     			$("input:file").on('change', function () {
			        if (typeof (FileReader) != "undefined") {
			            var image_holder = $(this).parent().find("div.overlayed");
			            image_holder.empty();
			 
			            var reader = new FileReader();
			            
			            reader.onload = function (e) {
			                $("<img />", {
			                    "src": e.target.result,
			                    "class": "thumb-image"
			                }).appendTo(image_holder);
			            }
			            image_holder.show();
			            reader.readAsDataURL($(this)[0].files[0]);
			        } else {
			            alert("O seu navegador não tem suporte a preview de imagens");
			        }
			    });
			};
		</script>
	</body>
</html>

