<!DOCTYPE html>
<html ng-app="junkstation" >
	<head>
		<% include template/meta %>
		<link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
		<title>Bem vindo(a) ao Meu Velhinho</title>
		
		<% include template/css %> 
	</head>

	<body >
		<% include template/header %>
		<div class="container_12 clearfix content">
			
			<% include template/vertical_menu_admin %>
			
			<div class="grid_9 content">
				<div class="container-fluid">
					<% anuncio.proposta.forEach(function(proposta){ %>
				        <div class="well">
				            <div class="media">
				               	<a class="pull-left" href="#">
				               		<img class="media-object" src="<%-anuncio.fotoPrincipal.prefix + anuncio.fotoPrincipal.nome %>" style="width : 50px ; height : 50px" />
				               	</a>
				               	<div class="media-body">
				                  	<h4 class="media-heading"><%- anuncio.marca %> <%- anuncio.modelo %></h4>
				                  	<p class="text-right">por <%- proposta.nomeContato %></p>
					                <p>
					                 	<%- proposta.assunto %>
					                </p>
				                  	<ul class="list-inline list-unstyled">
				                     	<li><span><i class="glyphicon glyphicon-calendar"></i> <%- util.moment(proposta.dataProposta).startOf('hour').fromNow() %></span></li>
				                     	<li>|</li>
				                     	<span><i class="glyphicon glyphicon-comment"></i> <%- proposta.emailContato %></span>
				                     	<!--<li>|</li>
					                    <li>
					                        <span class="glyphicon glyphicon-star"></span>
					                        <span class="glyphicon glyphicon-star"></span>
					                        <span class="glyphicon glyphicon-star"></span>
					                        <span class="glyphicon glyphicon-star"></span>
					                        <span class="glyphicon glyphicon-star-empty"></span>
					                    </li>
				                     	<li>|</li>
					                    <li>
					                        <span><i class="fa fa-facebook-square"></i></span>
					                        <span><i class="fa fa-twitter-square"></i></span>
					                        <span><i class="fa fa-google-plus-square"></i></span>
					                    </li>-->
				                  	</ul>
				               	</div>
				            </div>
				        </div>
			        <%})%>
				</div>
			</div>
		</div>

		<!-- INICIO DO FOOTER-->
		<% include template/footer %>
		<!-- FIM DO FOOTER-->

		<script type="text/javascript">
			$(document).ready(function(){
				
			});
		</script>
	</body>
</html>

