<!DOCTYPE html>
<html ng-app="junkstation" >
	<head>
		<% include template/meta %>
		<title>Junk Station a Vitrine do seu clássico</title>
		<% include template/css %>
		<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
		<style type="text/css">
	        body{margin-top: 20px;}
	        .panel{text-align: center; }
	        .panel:hover { box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4), 0 1px 5px rgba(130, 130, 130, 0.35); }
	        .panel-body{padding: 0px;text-align: center;}
	        .the-price{background-color: rgba(220,220,220,.17);box-shadow: 0 1px 0 #dcdcdc, inset 0 1px 0 #fff;padding: 20px;margin:0;}
	        .the-price h1{line-height: 1em;padding: 0; margin: 0;}
	        .subscript{font-size: 25px;}
	        .cnrflash{
	            position: absolute;
	            top: -9px;
	            right: 4px;
	            z-index: 1; 
	            overflow: hidden;
	            width: 100px;
	            height: 100px;
	            border-radius: 3px 5px 3px 0;
	        }
	        .cnrflash-inner{
	            position: absolute;
	            bottom: 0;
	            right: 0;
	            width: 145px;
	            height: 145px;
	            -ms-transform: rotate(45deg);
	            -o-transform: rotate(45deg);
	            -moz-transform: rotate(45deg);
	            -webkit-transform: rotate(45deg);
	            -webkit-transform-origin: 100% 100%;
	            -ms-transform-origin: 100% 100%;
	            -o-transform-origin: 100% 100%;
	            -moz-transform-origin: 100% 100%;
	            background-image: linear-gradient(90deg, transparent 50%, rgba(255,255,255,.1) 50%), linear-gradient(0deg, transparent 0%, rgba(1,1,1,.2) 50%);
	            background-size: 4px,auto, auto,auto;
	            background-color: #aa0101;
	            box-shadow: 0 3px 3px 0 rgba(1,1,1,.5), 0 1px 0 0 rgba(1,1,1,.5), inset 0 -1px 8px 0 rgba(255,255,255,.3), inset 0 -1px 0 0 rgba(255,255,255,.2);
	        }
	        .cnrflash-inner:before, .cnrflash-inner:after
	        {
	            /*Use the border triangle trick to make  				it look like the ribbon wraps round it's 				container*/
	            content: " ";
	            display: block;
	            position: absolute;
	            bottom: -16px;
	            width: 0;
	            height: 0;
	            border: 8px solid #800000;
	        }
	        .cnrflash-inner:before
	        {
	            left: 1px;
	            border-bottom-color: transparent;
	            border-right-color: transparent;
	        }
	        .cnrflash-inner:after
	        {
	            right: 0;
	            border-bottom-color: transparent;
	            border-left-color: transparent;
	        }
	        .cnrflash-label
	        {
	            position: absolute;
	            bottom: 0;
	            left: 0;
	            display: block;
	            width: 100%;
	            padding-bottom: 5px;
	            color: #fff;
	            text-shadow: 0 1px 1px rgba(1,1,1,.8);
	            font-size: 0.95em;
	            font-weight: bold;
	            text-align: center;
	        }
	        .row-centered {text-align:center;}

	        header{
	        	margin-top : -20px;
	        }
	    </style>
	</head>

	<body >
		<% include template/header %>

		<link rel="stylesheet" href="/css/planos.css">
		
		<div class="container_12 clearfix">
			<div class="grid_12 content">
				<h2 class="page_title with_filter">Venha fazer parte da equipe Junk Station !</h2>
				<p>
					Marketing apophenia bomb sentient denim into semiotics plastic human lights. Systemic RAF city narrative pen rifle claymore mine render-farm fluidity monofilament chrome grenade girl Chiba marketing. Drugs faded franchise rain denim beef noodles sign sentient motion 8-bit. Sprawl long-chain hydrocarbons apophenia semiotics fluidity shanty town market wonton soup artisanal vehicle footage. 
				</p>

				<br/>
				
				<% var numeroPlanos = response.planos.length ; %>

				<section class="main clearfix " >
					<div class="container">
					    <div class="row"> 
					       	<% if(response.planos.length === 0) { %>
					       		<div class="col-xs-12 col-md-12">
									Desculpe mas não há planos cadastrado para exibição :( !
					       		</div>
					       	<% } %>

							<% if(numeroPlanos > 0) { %>
								<!-- PLANO 1 - -->
						        <div class="col-xs-12 col-md-3">
						            <div class="panel panel-info">
						            	<% if(response.planos[0].destaque) { %>
							            	<div class="cnrflash">
							                    <div class="cnrflash-inner">
							                        <span class="cnrflash-label">MAIS<br>POPULAR</span>
							                    </div>
							                </div>
							            <% } %>

						                <div class="panel-heading">
						                    <h3 class="panel-title"><%- response.planos[0].titulo %></h3>
						                </div>
						                <div class="panel-body">
						                    <div class="the-price">
						                    	<% if(response.planos[0].preco === 0) {%>
						                    		 <h1>GRÁTIS<span class="subscript"></span></h1>
						                    	<% } else { %>
						                    		 <h1>R$<%- response.planos[0].preco %><span class="subscript">/Mês</span></h1>
						                    	<% } %>
						                        <small></small>
						                    </div>
						                    <table class="table">
						                        <tr><td><%- response.planos[0].qtdFotos %> Foto</td></tr>
						                        <tr class="active"><td><%- response.planos[0].qtdVideos %> Video</td></tr>
						                        <tr><td><%- response.planos[0].expiracao %> dias de Acesso</td></tr>
						                        <tr class="active"><td><%- response.planos[0].descExpiracao %></td></tr>
						                        <tr><td>Avisos por e-mail</td></tr>
						                        <tr class="active"><td>expira a cada <%- response.planos[0].expiracao %> dias </td></tr>
						                    </table>
						                </div>
						                <div class="panel-footer">
						                    <a href="/planos/<%- response.planos[0]._id %>/assinar" class="btn btn-success btn-block" role="button">ASSINAR</a>
						                </div>
						            </div>
						        </div>

							<% } %>

							<% if(numeroPlanos > 1) { %>
								<!-- PLANO 2 - -->
						      	<div class="col-xs-12 col-md-3">
						            <div class="panel panel-info">
						            	<% if(response.planos[1].destaque) { %>
							            	<div class="cnrflash">
							                    <div class="cnrflash-inner">
							                        <span class="cnrflash-label">MAIS<br>POPULAR</span>
							                    </div>
							                </div>
							            <% } %>

						                <div class="panel-heading">
						                    <h3 class="panel-title"><%- response.planos[1].titulo %></h3>
						                </div>
						                <div class="panel-body">
						                    <div class="the-price">
						                    	<% if(response.planos[1].preco === 0) {%>
						                    		 <h1>GRÁTIS<span class="subscript"></span></h1>
						                    	<% } else { %>
						                    		 <h1>R$<%- response.planos[1].preco %><span class="subscript">/Mês</span></h1>
						                    	<% } %>
						                        <small></small>
						                    </div>
						                    <table class="table">
						                        <tr><td><%- response.planos[1].qtdFotos %> Foto</td></tr>
						                        <tr class="active"><td><%- response.planos[1].qtdVideos %> Video</td></tr>
						                        <tr><td><%- response.planos[1].expiracao %> dias de Acesso</td></tr>
						                        <tr class="active"><td><%- response.planos[1].descExpiracao %></td></tr>
						                        <tr><td>Avisos por e-mail</td></tr>
						                        <tr class="active"><td>expira a cada <%- response.planos[1].expiracao %> dias </td></tr>
						                    </table>
						                </div>
						                <div class="panel-footer">
						                    <a href="/planos/<%- response.planos[1]._id %>/assinar" class="btn btn-success btn-block" role="button">ASSINAR</a>
						                </div>
						            </div>
						        </div>
							<% } %>

							<% if(numeroPlanos > 2) { %>
								<!-- PLANO 3 - -->
						        <div class="col-xs-12 col-md-3">
						            <div class="panel panel-info">
						            	<% if(response.planos[2].destaque) { %>
							            	<div class="cnrflash">
							                    <div class="cnrflash-inner">
							                        <span class="cnrflash-label">MAIS<br>POPULAR</span>
							                    </div>
							                </div>
							            <% } %>

						                <div class="panel-heading">
						                    <h3 class="panel-title"><%- response.planos[2].titulo %></h3>
						                </div>
						                <div class="panel-body">
						                    <div class="the-price">
						                    	<% if(response.planos[2].preco === 0) {%>
						                    		 <h1>GRÁTIS<span class="subscript"></span></h1>
						                    	<% } else { %>
						                    		 <h1>R$<%- response.planos[2].preco %><span class="subscript">/Mês</span></h1>
						                    	<% } %>
						                        <small></small>
						                    </div>
						                    <table class="table">
						                        <tr><td><%- response.planos[2].qtdFotos %> Foto</td></tr>
						                        <tr class="active"><td><%- response.planos[2].qtdVideos %> Video</td></tr>
						                        <tr><td><%- response.planos[2].expiracao %> dias de Acesso</td></tr>
						                        <tr class="active"><td><%- response.planos[2].descExpiracao %></td></tr>
						                        <tr><td>Avisos por e-mail</td></tr>
						                        <tr class="active"><td>expira a cada <%- response.planos[2].expiracao %> dias </td></tr>
						                    </table>
						                </div>
						                <div class="panel-footer">
						                    <a href="/planos/<%- response.planos[2]._id %>/assinar" class="btn btn-success btn-block" role="button">ASSINAR</a>
						                </div>
						            </div>
						        </div>
							<% } %>

							<% if(numeroPlanos > 3) { %>
								<!-- PLANO 4 - -->
						        <div class="col-xs-12 col-md-3">
						            <div class="panel panel-info">
						            	<% if(response.planos[3].destaque) { %>
							            	<div class="cnrflash">
							                    <div class="cnrflash-inner">
							                        <span class="cnrflash-label">MAIS<br>POPULAR</span>
							                    </div>
							                </div>
							            <% } %>

						                <div class="panel-heading">
						                    <h3 class="panel-title"><%- response.planos[3].titulo %></h3>
						                </div>
						                <div class="panel-body">
						                    <div class="the-price">
						                    	<% if(response.planos[3].preco === 0) {%>
						                    		 <h1>GRÁTIS<span class="subscript"></span></h1>
						                    	<% } else { %>
						                    		 <h1>R$<%- response.planos[3].preco %><span class="subscript">/Mês</span></h1>
						                    	<% } %>
						                        <small></small>
						                    </div>
						                    <table class="table">
						                        <tr><td><%- response.planos[3].qtdFotos %> Foto</td></tr>
						                        <tr class="active"><td><%- response.planos[3].qtdVideos %> Video</td></tr>
						                        <tr><td><%- response.planos[3].expiracao %> dias de Acesso</td></tr>
						                        <tr class="active"><td><%- response.planos[3].descExpiracao %></td></tr>
						                        <tr><td>Avisos por e-mail</td></tr>
						                        <tr class="active"><td>expira a cada <%- response.planos[3].expiracao %> dias </td></tr>
						                    </table>
						                </div>
						                <div class="panel-footer">
						                    <a href="/planos/<%- response.planos[3]._id %>/assinar" class="btn btn-success btn-block" role="button">ASSINAR</a>
						                </div>
						            </div>
						        </div>	
							<% } %>

							<% if(numeroPlanos > 4) { %>
								<!-- PLANO 5 - -->
						        <div class="col-xs-12 col-md-3">
						            <div class="panel panel-info">
						            	<% if(response.planos[4].destaque) { %>
							            	<div class="cnrflash">
							                    <div class="cnrflash-inner">
							                        <span class="cnrflash-label">MAIS<br>POPULAR</span>
							                    </div>
							                </div>
							            <% } %>

						                <div class="panel-heading">
						                    <h3 class="panel-title"><%- response.planos[4].titulo %></h3>
						                </div>
						                <div class="panel-body">
						                    <div class="the-price">
						                    	<% if(response.planos[4].preco === 0) {%>
						                    		 <h1>GRÁTIS<span class="subscript"></span></h1>
						                    	<% } else { %>
						                    		 <h1>R$<%- response.planos[4].preco %><span class="subscript">/Mês</span></h1>
						                    	<% } %>
						                        <small></small>
						                    </div>
						                    <table class="table">
						                        <tr><td><%- response.planos[4].qtdFotos %> Foto</td></tr>
						                        <tr class="active"><td><%- response.planos[4].qtdVideos %> Video</td></tr>
						                        <tr><td><%- response.planos[4].expiracao %> dias de Acesso</td></tr>
						                        <tr class="active"><td><%- response.planos[4].descExpiracao %></td></tr>
						                        <tr><td>Avisos por e-mail</td></tr>
						                        <tr class="active"><td>expira a cada <%- response.planos[4].expiracao %> dias </td></tr>
						                    </table>
						                </div>
						                <div class="panel-footer">
						                    <a href="/planos/<%- response.planos[4]._id %>/assinar" class="btn btn-success btn-block" role="button">ASSINAR</a>
						                </div>
						            </div>
						        </div>
							<% } %>

							<% if(numeroPlanos > 5) { %>
								<!-- PLANO 6 - -->
						        <div class="col-xs-12 col-md-3">
						            <div class="panel panel-info">
						            	<% if(response.planos[5].destaque) { %>
							            	<div class="cnrflash">
							                    <div class="cnrflash-inner">
							                        <span class="cnrflash-label">MAIS<br>POPULAR</span>
							                    </div>
							                </div>
							            <% } %>

						                <div class="panel-heading">
						                    <h3 class="panel-title"><%- response.planos[5].titulo %></h3>
						                </div>
						                <div class="panel-body">
						                    <div class="the-price">
						                    	<% if(response.planos[5].preco === 0) {%>
						                    		 <h1>GRÁTIS<span class="subscript"></span></h1>
						                    	<% } else { %>
						                    		 <h1>R$<%- response.planos[5].preco %><span class="subscript">/Mês</span></h1>
						                    	<% } %>
						                        <small></small>
						                    </div>
						                    <table class="table">
						                        <tr><td><%- response.planos[5].qtdFotos %> Foto</td></tr>
						                        <tr class="active"><td><%- response.planos[5].qtdVideos %> Video</td></tr>
						                        <tr><td><%- response.planos[5].expiracao %> dias de Acesso</td></tr>
						                        <tr class="active"><td><%- response.planos[5].descExpiracao %></td></tr>
						                        <tr><td>Avisos por e-mail</td></tr>
						                        <tr class="active"><td>expira a cada <%- response.planos[5].expiracao %> dias </td></tr>
						                    </table>
						                </div>
						                <div class="panel-footer">
						                    <a href="/planos/<%- response.planos[5]._id %>/assinar" class="btn btn-success btn-block" role="button">ASSINAR</a>
						                </div>
						            </div>
						        </div>	
							<% } %>

							<% if(numeroPlanos > 6) { %>
								<!-- PLANO 7 - -->
						        <div class="col-xs-12 col-md-3">
						            <div class="panel panel-info">
						            	<% if(response.planos[6].destaque) { %>
							            	<div class="cnrflash">
							                    <div class="cnrflash-inner">
							                        <span class="cnrflash-label">MAIS<br>POPULAR</span>
							                    </div>
							                </div>
							            <% } %>

						                <div class="panel-heading">
						                    <h3 class="panel-title"><%- response.planos[6].titulo %></h3>
						                </div>
						                <div class="panel-body">
						                    <div class="the-price">
						                    	<% if(response.planos[6].preco === 0) {%>
						                    		 <h1>GRÁTIS<span class="subscript"></span></h1>
						                    	<% } else { %>
						                    		 <h1>R$<%- response.planos[6].preco %><span class="subscript">/Mês</span></h1>
						                    	<% } %>
						                        <small></small>
						                    </div>
						                    <table class="table">
						                        <tr><td><%- response.planos[6].qtdFotos %> Foto</td></tr>
						                        <tr class="active"><td><%- response.planos[6].qtdVideos %> Video</td></tr>
						                        <tr><td><%- response.planos[6].expiracao %> dias de Acesso</td></tr>
						                        <tr class="active"><td><%- response.planos[6].descExpiracao %></td></tr>
						                        <tr><td>Avisos por e-mail</td></tr>
						                        <tr class="active"><td>expira a cada <%- response.planos[6].expiracao %> dias </td></tr>
						                    </table>
						                </div>
						                <div class="panel-footer">
						                    <a href="/planos/<%- response.planos[6]._id %>/assinar" class="btn btn-success btn-block" role="button">ASSINAR</a>
						                </div>
						            </div>
						        </div>
							<% } %>

							<% if(numeroPlanos > 7) { %>
								<!-- PLANO 8 - -->
						        <div class="col-xs-12 col-md-3">
						            <div class="panel panel-info">
						            	<% if(response.planos[7].destaque) { %>
							            	<div class="cnrflash">
							                    <div class="cnrflash-inner">
							                        <span class="cnrflash-label">MAIS<br>POPULAR</span>
							                    </div>
							                </div>
							            <% } %>

						                <div class="panel-heading">
						                    <h3 class="panel-title"><%- response.planos[7].titulo %></h3>
						                </div>
						                <div class="panel-body">
						                    <div class="the-price">
						                    	<% if(response.planos[7].preco === 0) {%>
						                    		 <h1>GRÁTIS<span class="subscript"></span></h1>
						                    	<% } else { %>
						                    		 <h1>R$<%- response.planos[7].preco %><span class="subscript">/Mês</span></h1>
						                    	<% } %>
						                        <small></small>
						                    </div>
						                    <table class="table">
						                        <tr><td><%- response.planos[7].qtdFotos %> Foto</td></tr>
						                        <tr class="active"><td><%- response.planos[7].qtdVideos %> Video</td></tr>
						                        <tr><td><%- response.planos[7].expiracao %> dias de Acesso</td></tr>
						                        <tr class="active"><td><%- response.planos[7].descExpiracao %></td></tr>
						                        <tr><td>Avisos por e-mail</td></tr>
						                        <tr class="active"><td>expira a cada <%- response.planos[7].expiracao %> dias </td></tr>
						                    </table>
						                </div>
						                <div class="panel-footer">
						                    <a href="/planos/<%- response.planos[7]._id %>/assinar" class="btn btn-success btn-block" role="button">ASSINAR</a>
						                </div>
						            </div>
						        </div>
							<% } %>


					    </div>
					</div>
				</section>

				<h2 class="page_title with_filter clearfix">Se você é PJ, nós temos um plano especial para você!</h2>
				<p>
					Marketing apophenia bomb sentient denim into semiotics plastic human lights. Systemic RAF city narrative pen rifle claymore mine render-farm fluidity monofilament chrome grenade girl Chiba marketing. Drugs faded franchise rain denim beef noodles sign sentient motion 8-bit. Sprawl long-chain hydrocarbons apophenia semiotics fluidity shanty town market wonton soup artisanal vehicle footage. 
				</p>
			</div>
		</div>
		<!-- INICIO DO FOOTER-->
		<% include template/footer %>
		<!-- FIM DO FOOTER-->
	</body>
</html>