<!-- INICIO DO HEADER-->
<header>
	<!-- INICIO DO TOOLBAR-->
	<div id="top_toolbar" class="clearfix">
		<div class="container">
			<!-- LINKS DO TOPO DA PÁGINA-->
			<ul class="top_toolbar_menu">
				<li><a href="#/admin"   >Home	 </a></li>
				<li><a href="/sobre"    >Controle usuário	 </a></li>
				<li><a href="/servico"  >Alterar Senha	 </a></li>
				<li><a href="/contato"  >Usuários Online </a></li>
			</ul>
			
			<!-- LINKS PARA MUDANÇA DE IDIOMAS-->
			<div id="top_toolbar_user_lng">
				<!-- BOTAO PARA LOGIN DA PAGINA-->
				<% if(request.user){ %>
					<a id="user" class="user show_login_form"><%- request.user.local.email %> </a>
					<a id="user" href="/anuncio/meusanuncios" class="user">Minha Conta</a>
					<a href="/logout" class="user">Sair</a>
				<% } else { %>	
					<a href="#login_form" class="user show_login_form">entrar</a>
				<% } %>
			</div>
			
			<!-- MODAL PARA LOGIN-->
			<div class="login_form_modal_container">
				<div id="login_form" class="box">
					<h3>Login</h3>
					<div class="box-content clearfix">
						<form action="/login" method="post">
							<input type="text"     placeholder="Digite o seu email" name="email" >
							<input type="password" placeholder="Digite a sua senha" name="password"  >
							<label for="remember" class="custom_checkbox remember_me">
								<input type="checkbox" name="remember" id="remember">Lembrar Senha
							</label>
							<a class="button submit red right">Entrar</a>
							<a href="#" class="forgotten_pass right">Esqueceu sua senha?</a>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div><!-- FIM DO TOOLBAR-->
	
	<!-- INICIO DO HEADER PRINCIPAL-->
	<div id="header_main" class="clearfix">
		<div class="container_12">
			<!-- LOGO DO TOPO DA PAGINA-->
			<!--<div id="logo" class="grid_3">
				<a href="/">
					<img src="/dist/images/logo.png" alt="Junkstation a vitrine do seu classico">	
				</a>
			</div>-->
			
			<!-- MENU PRINCIPAL -->
			<nav class="grid_12">
				<ul id="main_menu" class="clearfix" style="color: #fff">
					<li <%= request.baseUrl == "/" ?  'class=current_menu_ancestor' : '' %> >
						<a href="/">Administração</a>
						<ul>
							<li><a href="#/marca">Marca</a></li>
							<li><a href="#/categoria">Categoria</a></li>
							<li><a href="#/modelo">Modelo</a></li>
							<li><a href="#/combustivel">Combustível</a></li>
							<li><a href="#/cor">Cor</a></li>
							<li><a href="#/cambio">Câmbio</a></li>
							<li><a href="#/anoFabricacao">Ano Fabricação</a></li>
							<li><a href="#/servico">Serviço</a></li>
							<li><a href="#/newsletter">Newsletter</a></li>
							<li><a href="#/estilo">Estilo</a></li>
							<li><a href="#/uf">UF</a></li>
						</ul>
					</li>
					<li <%= request.baseUrl.match(/anuncio/ig) ?  'class=current_menu_ancestor' : '' %> >
						<a href="/anuncio/list">Notificação</a>
						<ul>
							<li><a href="#">Lista Anunciantes</a></li>
							<li><a href="#">Lista Anúncios</a></li>
						</ul>
					</li>
					<li <%= request.baseUrl == "/servico" ?  'class=current_menu_ancestor' : '' %> >
						<a href="/servico">Relatório</a>
						<ul>
							<li><a href="#">Anúncio</a></li>
							<li><a href="#">Anunciantes</a></li>
							<li><a href="#">Financeiro</a></li>
							<li><a href="#">Acesso</a></li>
							<li><a href="#">Vendas</a></li>
							
						</ul>
					</li>
					<li <%= request.baseUrl == "/planos" ?  'class=current_menu_ancestor' : '' %> >
						<a href="/planos">Anúncio</a>
					</li>
					<li <%= request.baseUrl == "/planos" ?  'class=current_menu_ancestor' : '' %> >
						<a href="/planos">Plano</a>
					</li>
					<li <%= request.baseUrl == "/planos" ?  'class=current_menu_ancestor' : '' %> >
						<a href="/planos">Pagamento</a>
					</li>
					<li <%= request.baseUrl == "/planos" ?  'class=current_menu_ancestor' : '' %> >
						<a href="/planos">Segurança</a>
					</li>
					<li <%= request.baseUrl == "/planos" ?  'class=current_menu_ancestor' : '' %> >
						<a href="/planos">Integração</a>
					</li>
					<li <%= request.baseUrl == "/planos" ?  'class=current_menu_ancestor' : '' %> >
						<a href="/planos">Vendas</a>
					</li>
					<li class='current_menu_ancestor' style="display:none;">
						<a href="/">default</a>
					</li>
				</ul>
				<div id="responsive_navigation">
					<select class="custom_select nav-responsive">
						<option value="/" <%= request.baseUrl == "/" ?  'selected' : '' %> > - Home </option>
						<option value="/anuncio/list" <%= request.baseUrl.match(/anuncio/ig) ?  'selected' : '' %> > -  Anúncios</option>
						<option value="/servico" <%= request.baseUrl == "/servico" ?  'selected' : '' %> > -  Serviços</option>
						<option value="/planos" <%= request.baseUrl == "/planos" ?  'selected' : '' %> > -  Planos</option>
					</select>
				</div>
			</nav>
		</div>
	</div>
</header><!-- FIM DO HEADER-->

