
<!-- INICIO DO HEADER-->
<header>
    <!-- INICIO DO TOOLBAR-->
    <div id="top_toolbar" class="clearfix">
        <div class="container">
            <!-- LINKS DO TOPO DA PÁGINA-->
            <ul class="top_toolbar_menu">
                <li><a href="/">Home     </a></li>
                <li><a href="/sobre">Sobre     </a></li>
                <li><a href="/servico">Ajuda     </a></li>
                <li><a href="/contato">Contato</a></li>
            </ul>

            <!-- LINKS PARA MUDANÇA DE IDIOMAS-->
            <div id="top_toolbar_user_lng">
                <!-- BOTAO PARA LOGIN DA PAGINA-->
                <% if(request.user){ %>
                    <div class="dropdown">
                        <button class="dropbtn">Olá, <%- request.user.local.username.toUpperCase() %> &#9660; </button>
                        <div class="dropdown-content">
                            <a href="/anuncio/meusdados">Meus Dados</a>
                            <a href="/anuncio/meusanuncios">Anúncios</a>
                            <a href="/#">Alterar Senha</a>
                            <a href="/logout">Sair</a>
                        </div>
                    </div>
                    
                    <!--<span class="user">Olá, <%- request.user.local.username.toUpperCase() %></span>
                    <a class="user"> &#9660; </a>
                    <a  href="/anuncio/meusanuncios" class="user">Minha Conta</a>
                    <a href="/logout" class="user">Sair</a>-->
                <% } else { %>
                    <a href="#login_form" class="user show_login_form">entrar</a>
                <% } %>
            </div>

            <!-- MODAL PARA LOGIN-->
            <div class="login_form_modal_container">
                <div id="login_form" class="box">
                    <h3>Login</h3>
                    <div class="box-content clearfix">
                        <form action="https://<%- request.hostname%>/login" method="post" id="modal-login-form">
                            <input type="hidden" name="_method" value="post">
                            <input type="text" placeholder="Digite o seu email" name="email">
                            <input type="password" placeholder="Digite a sua senha" name="password">
                            <!--<label for="remember" class="custom_checkbox remember_me">
                                <input type="checkbox" name="remember" id="remember">Lembrar Senha
                            </label>
                            <a href="#" class="forgotten_pass right">Esqueceu sua senha?</a>-->
                            <br/>
                            <br/>
                            <p><a class="button submit wide red wider">Login</a></p>
                            <p><a href="/login" class="button wide green wider">Cadastre-se</a></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FIM DO TOOLBAR-->

    <!-- INICIO DO HEADER PRINCIPAL-->
    <div id="header_main" class="clearfix">
        <div class="container_12">
            <!-- LOGO DO TOPO DA PAGINA-->
            <div id="logo" class="grid_3">
                <a href="/">
                    <img src="/dist/images/logo.png" alt="Meu Velhinho a vitrine do seu classico">
                </a>
            </div>

            <!-- MENU PRINCIPAL -->
            <nav class="grid_6">
                <ul id="main_menu" class="clearfix">
                    <li <%=request.url=="/" ? 'class=current_menu_ancestor' : '' %> >
                        <a href="/">Home</a>
                    </li>
                    <li <%=request.url.match(/anuncio/ig) ? 'class=current_menu_ancestor' : '' %> >
                        <a href="/anuncio/lista">Anúncios</a>
                    </li>
                    <li <%=request.url=="/servico" ? 'class=current_menu_ancestor' : '' %> >
                        <a href="/servico">Serviços</a>
                    </li>
                    <li <%=request.url=="/planos" ? 'class=current_menu_ancestor' : '' %> >
                        <a href="/planos">Planos</a>
                    </li>
                    <li class='current_menu_ancestor' style="display:none;">
                        <a href="/">default</a>
                    </li>
                </ul>
                <div id="responsive_navigation">
                    <select class="custom_select nav-responsive">
                        <option value="/" <%= request.url == "/" ?  'selected' : '' %> > - Home </option>
                        <option value="/anuncio/lista" <%= request.url.match(/anuncio/ig) ?  'selected' : '' %> > -  Anúncios</option>
                        <option value="/servico" <%= request.url == "/servico" ?  'selected' : '' %> > -  Serviços</option>
                        <option value="/planos" <%= request.url == "/planos" ?  'selected' : '' %> > -  Planos</option>
                    </select>
                </div>
            </nav>

            <!-- BOTAO DO TOPO -->
            <div id="add_listing" class="grid_3">
                <a href="/planos" class="button green big wide">Anuncie Grátis</a>
            </div>
        </div>
    </div>
</header>
<!-- FIM DO HEADER-->